<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SistemaCamionero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SistemaCamionero.Properties.Settings.CamioneraConnectionString"
            connectionString="Data Source=DESKTOP-4GN06VU;Initial Catalog=Camionera;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SistemaCamionero.Properties.Settings>
            <setting name="Puerto" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="Baudio" serializeAs="String">
                <value>9600</value>
            </setting>
        </SistemaCamionero.Properties.Settings>
    </userSettings>
</configuration>
